@model TestScraper.Models.Stock

@{
    ViewData["Title"] = "Stocks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Click on the Scrape button to view Stocks!</h2>

<button type="button" class="btn btn-success">@Html.ActionLink("Stocks", "Create")</button>

<hr />
<div>
    <form asp-action="Create">
        <input type="submit" value="Scrape" class="btn btn-default" />
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}